extends ../extends/hero
block title
    | Admin Rechte beanspruchen
block subtitle
    | Hier kannst du Admin Rechte beanspruchen
block content
    .container.mt-4
        if user.is_admin
            h2.mb-4 Du bist bereits Admin
        else
            h2.mb-4 Du bist kein Admin
            p Deine Guard ID ist: #{user.guard_id}
            form(method='POST' action='/makeadmin')
                button.btn.btn-outline-primary.me-2(type='submit') Admin Rechte beanspruchen