.card.mb-4
    .card-body
        h5.card-title Admin
        p.card-text
            | Du bist ein Admin? Dann kannst du hier alles verwalten!
        a.btn.btn-outline-primary(href='/admin') Zum Adminbereich