doctype html
html
    include head
    body
        block main
            nav.navbar.navbar-expand-lg.bg-light
                .container-fluid.me-auto
                    a.navbar-brand(href='/') Ehrenbank
                    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                    #navbarNav.collapse.navbar-collapse
                        ul.navbar-nav
                            if user != null
                                li.nav-item
                                    a.nav-link(href='/dashboard') Dashboard
                                li.nav-item
                                    a.nav-link(href='/shop') Shop
                                li.nav-item
                                    a.nav-link(href='/items') Items
                                li.nav-item
                                    a.nav-link(href='/apps') Apps
                                li.nav-item
                                    a.nav-link(href='/developers') Entwickler
                        ul.navbar-nav.ms-auto
                            if user != null
                                li.nav-item
                                    a.nav-link.active Angemeldet als #{user.displayname}
                                li.nav-item
                                    //if path
                                    //    a.btn.btn-outline-secondary(href='/logout?returnURL=' + encodeURIComponent(path)) Abmelden
                                    //else
                                    a.btn.btn-outline-secondary(href='/logout') Abmelden
                            else
                                li.nav-item
                                    if path
                                        a.btn.btn-outline-secondary(href='/login?returnURL='+encodeURIComponent(path)) Anmelden
                                    else
                                        a.btn.btn-outline-secondary(href='/login') Anmelden
            block content
                | Kein Inhalt vorhanden
            block footer
                footer.footer.mt-4
                    .container
                        .row
                            .col
                                p.text-center.text-muted
                                    | Ehrenbank #{new Date().getFullYear()}
                                    br
                                    | Made with ❤️ by
                                    |
                                    |
                                    a(href='https://timmorgner.de').link-dark.text-decoration-none Tim