.card.mb-4
    .card-body
        h5.card-title Du bist Entwickler?
        p.card-text
            | Du kannst deine eigene App mit der Ehrenbank verbinden!
            | So kannst du deine Nutzer mit Ehre belohnen oder Gegenstände im Shop anbieten.
            | Andere Apps, die schon mit der Ehrenbank verbunden sind, findest du
            |
            a(href='/apps').link-success hier
            | .
        a.btn.btn-outline-primary(href='/developers') Zum Entwicklerbereich