.container.text-center.h-100.d-flex.justify-content-center#loginContainer
    .container-s.align-self-center
        h1 Ehren Credit System
        .alert.alert-danger(hidden)#alert
            #alert-text
        form
            input.form-control.mb-3#username(placeholder="Nutzername", type="text")
            input.form-control.mb-3#password(placeholder="Passwort", type="password")
            button.btn.btn-primary#loginButton(type="button") Anmelden