.card.mb-4
    .card-body
        h5.card-title Überweisung
        p.card-text
            | Wollen Sie jemandem Ehre schenken? Dann sind Sie hier genau richtig!
        a.btn.btn-outline-success(href='/transfer') Überweisung tätigen