extends extends/hero
block title
    | Hups!
block subtitle
    | Da ist ein Fehler aufgetreten
block content
    .container
        .row
            .col-12
                .text-center
                    h1.display-1 404
                    p.lead Die angeforderte Seite konnte nicht gefunden werden.
                    a.btn.btn-primary(href="/") Zur Startseite