extends includes/layout
block append scripts
    script(src='/scripts/alert.js' defer)
    script(src='/scripts/apps.js' defer)
block content
    .container.h-100#appList
        h1.mb-4 Ehren Credit System
        .alert.alert-danger(hidden)#alert
            #alert-text
        #appListElements
        .modal.fade#ask
            .modal-dialog
                .modal-content
                    .modal-header
                        .modal-title Willst du das wirklich tun?
                        button.btn-close(data-bs-dismiss="modal")
                    .modal-body
                        p
                            span#askName
                            span  darf dann von dir:
                        ul.list-group#askPermissions
                    .modal-body
                        p
                            span Gib deine
                            span#askName2
                            span  Kennung ein
                        input.form-control#token(type="text", value="")
                    .modal-footer
                        button.btn.btn-secondary(data-bs-dismiss="modal") Doch nicht
                        button.btn.btn-primary#askOK(data-bs-dismiss="modal") Ja, ich will!