extends includes/base
block append scripts
    script(src='/scripts/alert.js' defer)
    script(src='/scripts/apps.js' defer)
block content
    .container.h-100#appList
        #appListElements
            each app in apps
                .card.my-3
                    .card-header
                        h4.card-title #{app.display}
                        if app.active
                            .badge.text-bg-success.me-2 Aktiv
                            if app.usesUID
                                .badge.text-bg-primary.me-2 Verbunden als
                                    |
                                    | "
                                    span #{app.uid}
                                    span "
                        else
                            .badge.text-bg-secondary.me-2 Inaktiv
                    .card-body
                        p #{app.description}
                        p Diese App darf:
                        ul.list-group(id="permissions_"+app.appId)
                            if (app.permissions & 1) === 1
                                li.list-group-item Nutzerinfos einsehen
                            if (app.permissions >> 1 & 1) === 1
                                li.list-group-item Punktestand einsehen
                            if (app.permissions >> 2 & 1) === 1
                                li.list-group-item Punkte hinzufügen
                            if (app.permissions >> 3 & 1) === 1
                                li.list-group-item Punkte abziehen
                            if (app.permissions <= 0)
                                li.list-group-item Nichts
                    .card-footer.justify-content-end.d-flex
                        if app.active
                            button.btn.btn-outline-danger.me-2(onclick="deactivateAppModal(\"" + app.appId + "\",\"" + app.display + "\")") Deaktivieren
                        else
                            button.btn.btn-primary.me-2(onclick="activateAppModal(\"" + app.appId + "\",\"" + app.display + "\","+app.usesUID+",\"" + app.uid + "\")") Aktivieren

        .modal.fade#ask
            .modal-dialog
                .modal-content
                    .modal-header
                        .modal-title Willst du das wirklich tun?
                        button.btn-close(data-bs-dismiss="modal")
                    .modal-body
                        .alert.alert-danger(hidden)#alert
                            #alert-text
                        p
                            span#askName
                            span  darf dann von dir:
                        ul.list-group#askPermissions
                    .modal-body#askUid(hidden)
                        p
                            span Gib deine
                            |
                            |
                            span#askName2
                            span  Kennung ein
                        input.form-control#uid(type="text", value="", placeholder="Kennung")
                    .modal-footer
                        button.btn.btn-secondary(data-bs-dismiss="modal") Doch nicht
                        button.btn.btn-primary#askOK(data-bs-dismiss="modal") Ja, ich will!