extends extends/hero
block title
    | Apps mit Ehrenbank-Integration
block subtitle
    | Hier kannst du Punkte bekommen und Items kaufen.
block content
    .container.mt-4
        if apps
            for app in apps
                .card.mt-3
                    .card-header
                        h5.card-title(title="App ID "+app.app_id) #{app.name}
                        if app.permissions >> 0 & 1 === 1
                            span.badge.badge-pill.bg-primary.me-1 Ehre
                        if app.permissions >> 1 & 1 === 1
                            span.badge.badge-pill.bg-primary.me-1 Items
                        if app.permissions >> 2 & 1 === 1
                            span.badge.badge-pill.bg-primary.me-1 Shop
                    .card-body
                        p.card-text #{app.description}
                    .card-footer.text-muted.flex-row.d-flex
                        a(href = app.url).btn.btn-outline-secondary Zur App

        else
            .card.mt-3
                .card-body
                    p.card-text Keine Apps vorhanden