extends extends/hero
block title
    | Willkommen auf der Ehrenbank
block subtitle
    include includes/greeting
block content
    .container.mx-auto.my-5
        .row.row-cols-1.row-cols-md-2.gx-4.my-4
            .col
                include includes/kontostand
                include includes/ads
            .col
                include includes/lasttransactions
        hr.mb-5
        .row.row-cols-1.row-cols-md-3.gx-4.my-4
            if !user.is_admin
                .col
                    include includes/adminprompt
            else
                .col
                    include includes/dabeiprompt
            .col
                include includes/developerprompt
            .col
                include includes/transferprompt


