include includes/base
    block content
        .text-center.px-4.py-5.bg-primary.text-white
            h2.display-6.fw-bold
                | Willkommen auf der Ehrenbank
            p.lead
                include includes/greeting
            p Du bist seit #{new Date(user.created).toLocaleDateString("de-DE")} dabei.
        .container.mx-auto.my-5
            .card.mb-5
                img.card-img-top(src='https://as2.ftcdn.net/v2/jpg/03/30/59/79/1000_F_330597957_u2ohf3DLB7FAj5FlwIBNGE4TjEnPcceN.jpg', alt='Konto Banner', style='height: 200px; object-fit: cover;')
                .card-body
                    h4.card-title Dein Konto
                    h5.card-subtitle.text-muted
                        | #{user.balance} Ehre
                .card-footer.text-end
                    a.btn.btn-outline-secondary.me-2(href='/transactions') Transaktionen
                    a.btn.btn-primary.me-2(href='/transfer') Überweisung tätigen