include includes/base
    block content
        .text-center.px-4.py-5.bg-primary.text-white
            h2.display-6.fw-bold
                | Willkommen auf der Ehrenbank
            p.lead
                include includes/greeting
            p Du bist seit #{new Date(user.created).toLocaleDateString("de-DE")} dabei.
        .container.mx-auto.my-5
            .card.mb-5
                img.card-img-top(src='https://as2.ftcdn.net/v2/jpg/03/30/59/79/1000_F_330597957_u2ohf3DLB7FAj5FlwIBNGE4TjEnPcceN.jpg', alt='Konto Banner', style='height: 200px; object-fit: cover;')
                .card-body
                    h4.card-title Dein Konto
                    h5.card-subtitle.text-muted
                        | #{user.balance} Ehre
                .card-footer.text-end
                    a.btn.btn-outline-secondary.me-2(href='/transactions') Transaktionen
                    a.btn.btn-primary.me-2(href='/transfer') Überweisung tätigen
            .card.mb-5
                img.card-img-top(src='https://live.staticflickr.com/2572/3960247741_451283acfb_b.jpg', alt='Inventar Banner', style='height: 200px; object-fit: cover;')
                .card-body
                    h4.card-title Deine Gegenstände
                    .container#items
                        .row.row-cols-2.mb-4
                            .col
                                .card
                                    .card-header
                                        h5.card-title Gegenstand 1
                                        span.badge.bg-info Selten
                                    .card-body
                                        p.card-text
                                            | Dies ist ein Gegenstand
                                    .card-footer.text-muted.flex-row.d-flex
                                        span Erhalten am 6. Januar 2021
                                        .ms-auto.badge.bg-secondary Based
                            .col
                                .card
                                    .card-header
                                        h5.card-title Gegenstand 2
                                        .badge.bg-danger Mythisch
                                    .card-body
                                        p.card-text
                                            | Dies ist ein Gegenstand
                                    .card-footer.text-muted.flex-row.d-flex
                                        span Erhalten am 6. Januar 2021
                                        .ms-auto.badge.bg-secondary Cringe
                        .row.row-cols-2.placeholder-glow
                            .col
                                .card
                                    .card-header

                                        h5.card-title
                                            .placeholder Placeholder
                                        .badge.placeholder.bg-secondary.text-secondary Place
                                    .card-body
                                        p.card-text.placeholder
                                            | Placeholder Placeholder Placeholder Placeholder
                                    .card-footer.text-muted.flex-row.d-flex
                                        span.placeholder Erhalten am Tag. Monat Jahr
                                        .ms-auto.badge.bg-secondary.placeholder.text-secondary Placeholder

                .card-footer.text-end
                    a.btn.btn-primary.me-2(href='/items') Alle Gegenstände anzeigen
