include includes/base
    block scripts
    block content
        .text-center.px-4.py-5.bg-success.text-white
            h2.display-6.fw-bold
                | Work in Progress
            p.lead
                | Diese Seite befindet sich noch im Aufbau.
