extends includes/layout
block content
    .container
        h1.mb-3 Ehren Credit System
        h2 Neue App Registrieren
        hr
        form
            input.form-control.mb-3#display(placeholder="Anzeigename der App", type="text")
            input.form-control.mb-3#desc(placeholder="Beschreibung der App", type="text")
            input.form-control.mb-3#appId(placeholder="Kennung der App", type="text")
            h4 Rechte
            .form-check
                input.form-check-input#permissionsReadInfo(type="checkbox", value="")
                label.form-check-label(for="permissionsReadInfo") Nutzerinfos einsehen
            .form-check
                input.form-check-input#permissionsReadBalance(type="checkbox", value="")
                label.form-check-label(for="permissionsReadBalance") Punktestand einsehen
            .form-check
                input.form-check-input#permissionsAddBalance(type="checkbox", value="")
                label.form-check-label(for="permissionsAddBalance") Punkte hinzufügen
            .form-check.mb-3
                input.form-check-input#permissionsSubBalance(type="checkbox", value="")
                label.form-check-label(for="permissionsSubBalance") Punkte abziehen
            .alert.alert-warning
                p Nach der Registration können keine Änderungen an der App durchgeführt werden. Achten sie daher auf korrekte Angaben.
                .d-flex
                    input.form-control#admin(placeholder="Admin Kennwort", type="")
                    button.ms-3.btn.btn-warning(type="button")#btn Registrieren
            .alert.alert-danger(hidden)#alert
                #alert-text
        .modal.fade#ask
            .modal-dialog
                .modal-content
                    .modal-header.d-flex
                        .modal-title Deine App wurde registriert
                        button.btn-close(data-bs-dismiss="modal")
                    .modal-body
                        p Dein API Token ist
                        input.form-control#token(type="text", value="", readonly)
    script(src='/scripts/registerapp.js')