extends extends/hero
block css
    link(rel='stylesheet' href='/css/transfer.css')
block title
    | Überweisung tätigen
block subtitle
    | Überweise Ehre an andere Benutzer
block content
    .container.mx-auto.my-5
        if error
            .card.bg-danger.mb-3
                .card-body.text-white
                    h3.fs-2.card-title Fehler
                    case error
                        when 'invalid-amount'
                            p.card-text Der Betrag muss zwischen 1 und 1000000 liegen.
                        when 'invalid-receiver'
                            p.card-text Der Empfänger ist ungültig.
                        when 'invalid-reason'
                            p.card-text Die Nachricht ist ungültig.
                        when 'insufficient-funds'
                            p.card-text Du hast nicht genug Ehre.
                        when 'transfer-failed'
                            p.card-text Die Überweisung ist fehlgeschlagen.
                        default
                            p.card-text Ein unbekannter Fehler ist aufgetreten.
        include includes/transfer